section {
  display: flex;
  justify-content: center;
}
.div1 {
  width: 350px;
  padding: 50px;
  font-size: 58px;
  color: orange;
  text-align: right;
}
.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.card1 {
  padding: 10px;
}
